@page
@using Logic.DTOs;
@using Logic.Models;
@model Website.Pages.OrderHistoryModel
@{
}

<link rel="stylesheet" href="~/css/OrderHistoryStyleSheet.css" asp-append-version="true" />


<div class="page-content">
    <div class="page-content-left">
        <ul class="customer-menu">
            <li class="customer-menu-item"><a asp-page="Profile">My Account</a></li>
            <li class="customer-menu-item"><a>Order History</a></li>
            <li class="customer-menu-item"><a>Bonus Card</a></li>
            <li class="customer-menu-item"><a>Update Address</a></li>
            <li class="customer-menu-item">
                <form method="post">
                    <input type="submit" value="Log out" asp-page-handler="LogOut" />
                </form>
            </li>
        </ul>
    </div>
    <div class="page-content-right">
        <div class="item-2">
            <h2>ORDER HISTORY</h2>
        </div>
        <div class="item-3">
            @if(Model.orders.Count() != 0)
            {
                <table class="orders_table">
                    <thead class="cart_head">
                        <tr>
                            <th>ORDER ID</th>
                            <th>ORDER DATE</th>
                            <th>ORDER PRICE</th>
                            <th>ORDER STATUS</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (OrderDTO order in Model.orders)
                        {
                            <tr>
                                <td>
                                    <h3>@order.Id</h3>
                                </td>
                                <td>
                                    <h3>@order.DateTime</h3>
                                </td>
                                <td>
                                    <h3>@order.Price</h3>
                                </td>
                                <td class="@Model.GetStatusClass(order.Status)">
                                    <h3>@order.Status</h3>
                                </td>
                            </tr>
                        }
                    </tbody>                    
                </table>
            }
            else
            {
                <h1>THERE ARE NO ORDERS</h1>
            }
        </div>
        <div />
    </div>
</div>