@page
@using Logic.DTOs
@using Logic.Models
@model Website.Pages.ShoppingCartModel
@{
}
@{
    ViewData["Title"] = "Sneaker Wave";
}

<link rel="stylesheet" href="~/css/ShoppingCartStyleSheet.css" asp-append-version="true"/>

<form class="container">
    
    @if (Model.cartItems.Count() != 0)
    {
        double total = 0;

        <table class="cart" cellspacing="0">
            <thead class="cart_head">
                <tr>
                    <th class="first">PRODUCTS</th>
                    <th>SIZE</th>
                    <th>PRICE</th>
                    <th>QUANTITY</th>
                    <th>TOTAL</th>
                </tr>
            </thead>
            <tbody class="cart_body">

                @foreach (ShoppingCartItemDTO item in Model.cartItems)
                {
                    double subTotal = @item.Quantity * @item.Product.Price;
                    total += subTotal;

                    <tr class="cart_item">

                        <td class="first_card_item_col">
                            <img src="@item.Product.Image">
                            <h3>@item.Product.Name</h3>
                        </td>
                        <td>
                            <h3>@item.Size</h3>
                        </td>
                        <td>
                            <h3>@item.Product.Price €</h3>
                        </td>
                        <td>
                            <h3>@item.Quantity</h3>
                        </td>
                        <td>
                            <h3>@subTotal €</h3>
                        </td>
                    </tr>

                }

            </tbody>
        </table>
        <aside>
            <div class="cart_details">
                <div class="cart_totals">
                    <h3>Total   @total€</h3>
                    <h3>Delivery costs are not included.</h3>
                </div>
                <div class="bonusCard">
                    <h3>You have a ton of points. Use them all.</h3>
                </div>
                <div class="cart_actions">
                    <button method="post" class="checkout">CHECKOUT</button>
                </div>
            </div>
        </aside>
    }
    else
    {
        <h1>There are no items in the shopping cart</h1>
    }

</form>


@*@if (Model.cartItems.Count() != 0)
{
    double total = 0;
    int counter = 1;

    <div class="products_lsit">


        <div class="product_header">
            <h3>PRODUCTS</h3>
            <h3>SIZE</h3>
            <h3>PRICE</h3>
            <h3>QUANTITY</h3>
            <h3>TOTAL</h3>
        </div>

        @foreach (ShoppingCartItemDTO item in Model.cartItems)
        {
            double subTotal = @item.Quantity * @item.Product.Price;
            total += subTotal;

            <div class="product_container @((counter++ % 2 != 0) ? "white-bg" : "grey-bg")">
                <div class="product">
                    <img src="@item.Product.Image">
                    <h3>@item.Product.Name</h3>
                </div>
                <h3>@item.Size</h3>
                <h3>@item.Product.Price €</h3>
                <h3>@item.Quantity</h3>
                <h3>@subTotal €</h3>
            </div>
        }
    </div>

    <div class="options_list">
        <div class="total_container">
            <h3>Total   @total€</h3>
            <h3>Delivery costs are not included.</h3>
        </div>
        <div class="bonus_card_points">
            <h3>You have a ton of points.</h3>
        </div>
        <button method="post">Order now</button>
    </div>
}
else
{
    <h1>There are no items in the shopping cart</h1>
}*@
