@page
@using Logic.DTOs
@using Logic.Models
@model Website.Pages.ShoppingCartModel
@{
}
@{
    ViewData["Title"] = "Sneaker Wave";
}

<link rel="stylesheet" href="~/css/ShoppingCartStyleSheet.css" asp-append-version="true"/>


    
    @if (Model.cartItems.Count() != 0)
    {
    <form class="container" method="post">
        <table class="cart" cellspacing="0">
            <thead class="cart_head">
                <tr>
                    <th class="first">PRODUCTS</th>
                    <th>SIZE</th>
                    <th>PRICE</th>
                    <th>QUANTITY</th>
                    <th>TOTAL</th>
                </tr>
            </thead>
            <tbody class="cart_body">

                @foreach (ShoppingCartItemDTO item in Model.cartItems)
                {
                    double subTotal = @item.Quantity * @item.Product.Price;                    

                    <tr class="cart_item">

                        <td class="first_card_item_col">
                            <img src="@item.Product.Image">
                            <h3>@item.Product.Name</h3>
                        </td>
                        <td>
                            <h3>@item.Size</h3>
                        </td>
                        <td>
                            <h3>@item.Product.Price €</h3>
                        </td>
                        <td>
                            <h3>@item.Quantity</h3>
                        </td>
                        <td>
                            <h3>@subTotal €</h3>
                        </td>
                    </tr>

                }

            </tbody>
        </table>
        <aside>
            <div class="cart_details">
                <div class="cart_totals">
                    <h3>Total   @Model.Total€</h3>
                    <h3>Delivery costs are not included.</h3>
                </div>
                <div class="bonusCard">
                    <h3>Available discount points: @Model.BonusCardPoints</h3>
                </div>
                <div class="cart_actions">
                    <button type="submit" class="checkout-button">Checkout</button>

                    @*<a asp-page="/Checkout" class="checkout-button">Checkout</a>*@
                </div>
            </div>
        </aside>
    </form>
    }
    else
    {
        <div class="empty_cart">
            <img src="/Images/empty-cart.png">
            <h1 class="empty_cart">There are no items in the shopping cart</h1>
            <a asp-page="/Index" class="continue_shopping">Continue shopping</a>
        </div>        
    }




